@model TimeAide.Web.Models.VeteranStatus
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding:10px">
        @Html.Partial("_CreatePageTitleView")
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.VeteranStatusName, "Veteran Status", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.VeteranStatusName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VeteranStatusName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.VeteranStatusDescription, "Description", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.VeteranStatusDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VeteranStatusDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Partial("_CreatePageFooterView")
    </div>
}

