@model IEnumerable<TimeAide.Web.Models.VeteranStatus>

@Html.Partial("_IndexPageHeaderView")
<thead>
    <tr>
        <th>
            Veteran Status
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VeteranStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VeteranStatusDescription)
            </td>
            <td>
                @Html.Partial("_IndexPageButtonsView", item)
            </td>
        </tr>
    }

</tbody>
@Html.Partial("_IndexPageFooterView")
