@model TimeAide.Web.Models.EmployeeRequiredCredential
<div style="padding:10px;padding-bottom:0px">
    @Html.Partial("_DeleteViewHeaderMaster")
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserInformationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserInformationId)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CredentialId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CredentialId)
        </dd>
    </dl>
</div>

@Html.Partial("_DeleteViewFooter")
