@model TimeAide.Web.Models.ApplicantInterviewQuestion
<div id="PositionAdhocQuestionCreate_modal" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered modal-mg">
        <div class="modal-content">

            <div class="mt-2 p-1">
                <div class="alert alert-primary" style="text-align:center;background-color: #00c5fb;border: 1px solid #00c5fb;">
                    <h4 style="display: inline;">Adhoc Position Question(s) - Add</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <hr>
            </div>
            <div class="modal-body pt-0">
                <div class="form-horizontal" style="padding:10px">
                    <div class="col-md-12">
                        <div class="form-group">
                           @* @Html.LabelFor(model => model.QuestionName, htmlAttributes: new { @class = "control-label" })*@
                            <label class="col-form-label">Question <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.QuestionName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuestionName, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    @*<div class="col-md-12">
                        <div class="form-group">
                           
                            @Html.LabelFor(model => model.IsPositionSpecific, htmlAttributes: new { @class = "control-label" })

                            @Html.CheckBox("IsPositionSpecific",true, new { htmlAttributes = new { @class = "form-control pl-2 pt-1",@disabled="true" } })
                            @Html.ValidationMessageFor(model => model.IsPositionSpecific, "", new { @class = "text-danger" })

                        </div>
                    </div>*@
                    <div class="submit-section mt-1">
                        <button id="btnSavePositionAdhocQuestion" class="btn btn-primary submit-btn">Save</button>
                        <button id="btnCancel" class="btn btn-primary  submit-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger;
        //$('#IsPositionSpecific').attr("disabled", true);
        $('#btnSavePositionAdhocQuestion').click(function () {
            debugger;
            var obj = new Object();
            obj.QuestionName = $('#QuestionName').val();
            obj.Description = $('#Description').val();
            obj.IsPositionSpecific = true;
            if (obj.QuestionName == "") {
                showAlertAutoHide("#", 'Error', "Missing required field(s)");
                return;
            }

            saveAdhocPositionQuestionData(obj);
        });
    });

</script>


