@model TimeAide.Web.Models.EmployeeContribution

<div style="padding:10px;padding-bottom:0px">
    @Html.Partial("_DeleteViewHeaderMaster")
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyContribution.CompanyContributionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyContribution.CompanyContributionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContributionComputationType.ContributionComputationTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContributionComputationType.ContributionComputationTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContributionType.ContributionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CmpensationType.ContributionTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLAccount.GLAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLAccount.GLAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodEntry.CompensationPeriodEntryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodEntry.CompensationPeriodEntryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoneyAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoneyAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntryStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Old_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Old_Id)
        </dd>

    </dl>

</div>
@Html.Partial("_DeleteViewFooter")
