@model IEnumerable<TimeAide.Web.Models.EmployeeAction>
<h4 class="pull-left mb-0"> Action List</h4>
<div class="table-responsive">

    <table class="table table-striped custom-table table-nowrap mb-0" id="tblUserAction">
        <thead>
            <tr>
                <th>
                    Action Type
                </th>
                <th>
                    Action Date
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Notes
                </th>

                <th>
                    Document
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionType.ActionTypeName)
                </td>
                <td>
                    @String.Format("{0:MM/dd/yyyy}", item.ActionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionNotes)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DocName)
                </td>
                <td>
                    @{var status = item.ActionEndDate == null ? "Open" : "Closed";}
                    @status
                </td>
                <td width="10%">
                    <div class="pull-right dropdown-action">
                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_horiz</i></a>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(25px, 20px, 0px);">

                            <a href="javascript:createEditUserAction(@item.Id);" class="dropdown-item" data-id="@item.Id"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                            <a href="javascript:getUserActionDetail(@item.Id);" class="dropdown-item"><i class="fa fa-eye m-r-5"></i> Details</a>
                            <a href="javascript:getUserActionDocView(@item.Id)" class="dropdown-item"><i class="fa fa-upload m-r-5"></i> Upload Doc</a>
                            <a href="javascript:downloadUserActionDoc(@item.Id)" class="dropdown-item"><i class="fa fa-download m-r-5"></i> Download Doc</a>
                            <a href="javascript:getUserActionDeleteData(@item.Id);" class="dropdown-item"><i class="fa fa-trash m-r-5"></i> Delete</a>
                            @if ((bool)(ViewBag.Allow
                                ?? false))
                            {
                                <a href="javascript:void(0);" id="anchorChangeHistory" onclick="ShowChangeHistory(@item.Id,'@ViewBag.FormName')" class="dropdown-item" data-id="@item.Id"><i class="fa fa-pencil m-r-5"></i> Change History</a>
                                @*<a href="javascript:void(0);" class="anchorEdit" data-id="@Model.Id">Edit</a>*@
                            }
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        setUserActionTabDataTable();
    });

</script>