@model IEnumerable<TimeAide.Web.Models.EmployeeStatus>

@Html.Partial("_IndexPageHeaderView")
<thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeStatusDescription)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeStatusDescription)
            </td>
            <td>
                @Html.Partial("_IndexPageButtonsView", item)
            </td>
        </tr>
    }
</tbody>
@Html.Partial("_IndexPageFooterView")
