@model TimeAide.Web.Models.ApplicantStatus

<div style="padding:10px">
    @Html.Partial("_DeleteViewHeaderMaster")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantStatusName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UseAsHire)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.UseAsHire, new { @disabled = "disabled" })
        </dd>

    </dl>

</div>
@Html.Partial("_DeleteViewFooter")