@model TimeAide.Web.Models.Training

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.Partial("_CreatePageTitleView")

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.TrainingName, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.TrainingName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TrainingName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.TrainingDescription, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.TrainingDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TrainingDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.Partial("_CreatePageFooterView")
</div>
}

