@model TimeAide.Web.Models.Privilege
<div style="padding:10px">
    @Html.Partial("_DeleteViewHeaderMaster")
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrivilegeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivilegeName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
</div>
@Html.Partial("_DeleteViewFooter")
