@model TimeAide.Web.ViewModel.AuditLogViewModel
@{
}

<div class="table-responsive">
    <table class="table table-striped custom-table table-nowrap mb-0" id="tblAuditLogList">
        <thead>
            <tr>
                <th>
                    Emp. Id
                </th>
                <th>
                    Full Name
                </th>
                <th>Ref. Id</th>
                <th>
                    Table Name
                </th>
                <th>
                    Action Type
                </th>
                <th>
                    Action Date/Time
                </th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AuditLog)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserInformation.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInformation.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferenceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TableName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActionType)
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>
                    <td>
                        <div class="dropdown dropdown-action">
                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(38px, 32px, 0px);">
                                @if ((bool)(ViewBag.AllowView ?? false))
                                {
                                    <a href="javascript:void(0);" id="anchorAuditLogDetail" class="dropdown-item" data-id="@item.Id"><i class="fa fa-pencil m-r-5"></i> Audit Log Detail</a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        @*@Html.Partial("_IndexPageFooterView")*@
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Bootstrap date-picker for datetime field
        $('#tblAuditLogList').dataTable({
            "searching": true
        });
    });

    $('*[id*=anchorAuditLogDetail]').click(function () {
        debugger;
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: '/AuditLog/AuditLogDetail',
            contentType: "application/json; charset=utf-8",
            data: { "Id": id },
            datatype: "json",
            success: function (data) {
                //debugger;
                $('#myModalContent').html(data);
                $('#myModal').modal(options);
                $('#myModal').modal('show');

            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    });
</script>




