@model IEnumerable<TimeAide.Web.Models.Module>

@Html.Partial("_IndexPageHeaderView")
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            Module Label
        </th>
        <th>
            Module Name
        </th>
        <th>
            Parent Module
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleLabel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentModule.ModuleName)
        </td>
        <td>
            @Html.Partial("_IndexPageButtonsView", item)
        </td>
    </tr>
    }
</tbody>
@Html.Partial("_IndexPageFooterView")
