@model TimeAide.Web.Models.Gender
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding:10px">
        @Html.Partial("_CreatePageTitleView")
        @Html.HiddenFor(model => model.Id)

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.GenderName, "Gender", htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.GenderName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GenderName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.GenderDescription, "Description", htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.GenderDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GenderDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_CreatePageFooterView")
    </div>
}
