@model TimeAide.Web.Models.WCClassCode
<div style="padding:10px">
    @Html.Partial("_CreatePageTitleView")
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassCode)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassDescription)
        </dd>
    </dl>
</div>
<p>
    <button type="submit" class="btn btn-primary submit-btn" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</p>
