@model IEnumerable<TimeAide.Web.Models.TransactionConfiguration>

@Html.Partial("_IndexPageHeaderView")
<thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
           Primary Transaction
        </th>
        <th>
            Process Code
        </th>

        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigurationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigurationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryTransaction.PrimaryTransactionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessCode.ProcessCodeName)
        </td>

        <td>
            @Html.Partial("_IndexPageButtonsView", item)
        </td>
    </tr>
    }
</tbody>
@Html.Partial("_IndexPageFooterView")
