@model IEnumerable<TimeAide.Web.Models.RoleFormPrivilege>

@{
    ViewBag.Title = "List - Role Form Privilege";
}

<h2>List of Role Form Privilege</h2>

<p>
    @Html.ActionLink("Add Role Form Privilege", "Create")
    @Html.ActionLink("Create Matrix", "CreateMatrix")
    @Html.ActionLink("Create Matrix", "CreateMatrix")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Form")
        </th>
        <th>
            @Html.Label("Privilege")
        </th>
        <th>
            @Html.Label("Role")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Form.FormName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Privilege.PrivilegeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
