
<div id="addEdit_TimeoffTrans_modal" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
         
            <div class="mt-2 p-1">
                <div class="alert alert-primary" style="text-align:center;background-color: #00c5fb;border: 1px solid #00c5fb;">
                    <h4 style="display: inline;">Add/Edit- Time-off Trans.</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <hr>
            </div>
            <div class="modal-body pt-0">

                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Trans. Name: <span class="text-danger"></span></label>
                            @Html.Hidden("AddEditTransName", "")
                            @Html.Hidden("AddEditTransId", "")
                            <div class="col-md-7 pt-2 text-muted" id="divTransName">

                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Time-off Trans.: <span class="text-danger"></span></label>
                            @{
                                var IsTimeOffTrans = false;
                            }
                            <div class="col-md-4 pt-2">
                                @Html.CheckBoxFor(model => IsTimeOffTrans, new { id = "IsTimeOffTransAE" })

                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Sick-In-Family: <span class="text-danger"></span></label>
                            @{
                                var IsSickInFamily = false;
                            }
                            <div class="col-md-4 pt-2">
                                @Html.CheckBoxFor(model => IsSickInFamily, new { id = "IsSickInFamilyAE" })

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Min. Accrual Bal.: <span class="text-danger"></span></label>
                            @{
                                var MinAccrualTypeBalance = "";
                            }
                            <div class="col-md-4 pt-2">
                                @Html.EditorFor(model => MinAccrualTypeBalance, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Max. Yearly Taken: <span class="text-danger"></span></label>
                            @{
                                var MaxYearlyTaken = "";
                            }
                            <div class="col-md-4 pt-2">
                                @Html.EditorFor(model => MaxYearlyTaken, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                    </div>

                </div>
                <div class="submit-section mt-1">
                    <button id="btnSaveTimeOffTrans" class="btn btn-primary submit-btn">Save</button>
                    <button id="btnCancel" class="btn btn-primary  submit-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#btnSaveTimeOffTrans").click(function () {
            debugger;
            var dataObj = new Object();
            dataObj.TransId = $("#AddEditTransId").val();
            dataObj.TransName = $("#AddEditTransName").val();
            dataObj.IsTimeOffTrans = $("#IsTimeOffTransAE").is(":checked");
            dataObj.IsSickInFamilyTrans = $("#IsSickInFamilyAE").is(":checked");
            dataObj.MinimumAccrualTypeBalance = $("#MinAccrualTypeBalance").val();
            dataObj.MaximumYearlyTaken = $("#MaxYearlyTaken").val();
            saveTransDefTimeOff(dataObj);
        });
    });
</script>