@model TimeAide.Web.Models.PayScaleLevel
<div style="padding:10px">
    @Html.Partial("_DeleteViewHeaderMaster")
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayScale.PayScaleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayScale.PayScaleName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayScaleLevelRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayScaleLevelRate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
