@model TimeAide.Web.Models.UserContactInformation

@{
    ViewBag.Title = "Delete";
    Layout }

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserContactInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @"~/Views/Shared/_Layout.cshtml"
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State1.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State1.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserInformation.IdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserInformation.IdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyRelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyNumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyNumber1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyNumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyNumber2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkExtension)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
