@model IEnumerable<TimeAide.Web.Models.NotificationMessage>

@Html.Partial("_IndexPageHeaderView")
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationMessageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationMessageDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAllCompanies)
        
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationMessageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationMessageDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAllCompanies)
        </td>
        <td>
            @Html.Partial("_IndexPageButtonsView", item)
        </td>
    </tr>
    }

</tbody>
@Html.Partial("_IndexPageFooterView")
