@model TimeAide.Web.Models.EmployeeTraining

<div style="padding:10px;padding-top:0px;"> 
    <div style="font-size: 90%;">
        <div class="form-group row">
            <div class="panel panel-default" style="width:100%;margin-left:10px">
                <div class="panel-heading" style="padding-left:10px">Training Information</div>
                <div class="panel-body">
                    @Html.Hidden("EmployeeTrainingDetailId", Model==null?0:Model.Id)
                    
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" style="margin-left:10px">
                            Training:
                        </label>
                        <div class="col-md-3 text-muted mt-2">
                            <span id=""> @Html.DisplayFor(model => model.Training.TrainingName)</span>
                        </div>
                        <label class="col-md-2 col-form-label" style="margin-left:10px">
                            Date Completed:
                        </label>
                        <div class="col-md-3 text-muted mt-2">


                            @if (Model != null)
                            {
                                @String.Format("{0:MM/dd/yyyy}", Model.TrainingDate);
                            }


                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" style="margin-left:10px">
                            Type:
                        </label>
                        <div class="col-md-3 text-muted mt-2">
                            <span id=""> @Html.DisplayFor(model => model.TrainingType.TrainingTypeName)</span>
                        </div>
                        <label class="col-md-2 col-form-label" style="margin-left:10px">
                            Expiry Date:
                        </label>
                        <div class="col-md-3 text-muted mt-2">
                            @if (Model != null)
                            {
                                @String.Format("{0:MM/dd/yyyy}", Model.ExpiryDate);
                            }
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" style="margin-left:10px">
                            Notes:
                        </label>
                        <div class="col-md-3 text-muted mt-2">
                            <span id=""> @Html.DisplayFor(model => model.Note)</span>
                        </div>
                        <label class="col-md-2 col-form-label" style="margin-left:10px">
                            Document Name:
                        </label>
                        <div class="col-md-3 text-muted mt-2">
                            <span id="">   @Html.DisplayFor(model => model.DocName)</span>
                        </div>
                    </div>

                </div>
            </div>
         </div>
    </div>
</div>