@model TimeAide.Web.Models.Position
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="padding:10px">
    @Html.Partial("_CreatePageTitleView")
    @Html.HiddenFor(model => model.Id)

    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.PositionName, "Position", htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.PositionName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PositionName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.PositionDescription, "Description", htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.PositionDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PositionDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.PositionCode, "Position Code", htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.PositionCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PositionCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.DefaultPayScaleId, "Default Pay Scale", htmlAttributes: new { @class = "control-label" })

            @(Html.CustomDropDownList<TimeAide.Web.Models.PayScale>("DefaultPayScaleId", null, Model.DefaultPayScaleId, htmlAttributes: new { @class = "form-control" }))
            @Html.ValidationMessageFor(model => model.DefaultPayScaleId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.DefaultEEOCategoryId, "Default EEO Category", htmlAttributes: new { @class = "control-label" })

            @(Html.CustomDropDownList<TimeAide.Web.Models.EEOCategory>("DefaultEEOCategoryId", null, htmlAttributes: new { @class = "form-control" }))
            @Html.ValidationMessageFor(model => model.DefaultEEOCategoryId, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.Partial("_CreatePageFooterView")
</div>
}
