@model TimeAide.Web.ViewModel.RoleTypeFormPrivilegeMatrixViewModel1

@{
    ViewBag.Title = "List - Role Type Form Privilege";
}

<h2>List of Role Type Form Privilege</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(model => model.RoleId, "RoleType", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownList("RoleTypeID", null, "Please select", htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged()" })
        @Html.ValidationMessageFor(model => model.RoleTypeID, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-4">
        <input type="submit" value="Load" name="LoadData" id="LoadData" class="btn btn-default" />
    </div>
</div>

    <table class="table">
        <tr>
            <th>
                @Html.Label("Form")
            </th>
            <th>
                @Html.Label("Allow Add")
            </th>
            <th>
                @Html.Label("Allow Edit")
            </th>
            <th>
                @Html.Label("Allow View")
            </th>
            <th>
                @Html.Label("Allow Delete")
            </th>
            <th>
                @Html.Label("Is Restricted")
            </th>
            <th></th>
        </tr>

        @if (Model.RoleTypeFormPrivileges != null)
        {
            for (int i = 0; i < Model.RoleTypeFormPrivileges.Count; i++) //foreach (var item in Model.RoleTypeFormPrivileges)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => Model.RoleTypeFormPrivileges[i].Form.FormName)
                        @Html.HiddenFor(modelItem => Model.RoleTypeFormPrivileges[i].Form.FormName)
                        @Html.HiddenFor(modelItem => Model.RoleTypeFormPrivileges[i].FormId)
                    </td>

                    <td>
                        @Html.CheckBoxFor(modelItem => Model.RoleTypeFormPrivileges[i].AllowAdd)
                        @Html.HiddenFor(modelItem => Model.RoleTypeFormPrivileges[i].AllowAdd)

                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model.RoleTypeFormPrivileges[i].AllowEdit)
                        @Html.HiddenFor(modelItem => Model.RoleTypeFormPrivileges[i].AllowEdit)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model.RoleTypeFormPrivileges[i].AllowView)
                        @Html.HiddenFor(modelItem => Model.RoleTypeFormPrivileges[i].AllowView)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model.RoleTypeFormPrivileges[i].AllowDelete)
                        @Html.HiddenFor(modelItem => Model.RoleTypeFormPrivileges[i].AllowDelete)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model.RoleTypeFormPrivileges[i].IsRestricted)
                        @Html.HiddenFor(modelItem => Model.RoleTypeFormPrivileges[i].IsRestricted)
                    </td>
                </tr>
            }
        }

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create Matrix" name="CreateMatrix2" id="CreateMatrix2" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        function SelectedIndexChanged() {
            //Form post
            document.demoForm.submit();
        }
    </script>
}