@model TimeAide.Web.Models.ApplicantEmployment
@{
    ViewBag.Label = "Previous Employment";
}
<div id="applicantEmploymentDelete_modal" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            @Html.Partial("_DeleteViewHeader")           
            <div class="modal-body pt-0">
                <div class="alert" style="display:none;" id="">
                    <a href="javascript:void(0)" class="close" id="alertDismiss">&times;</a>
                    <strong>Alert!</strong><span class="ml-1"></span>
                </div>
                @Html.HiddenFor(model => model.Id, new { id = "ApplicantEmploymentDeleteId" })
              
                <div class="form-group row">
                    <div class="panel panel-default" style="width:100%;margin-left:10px">
                        <div class="panel-heading" style="padding-left:10px">Employment Information</div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" style="margin-left:10px">
                                    Company:
                                </label>
                                <div class="col-md-3 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.ApplicantCompany.CompanyName)</span>
                                </div>
                                <label class="col-md-2 col-form-label" style="margin-left:10px">
                                   Positon:
                                </label>
                                <div class="col-md-3 text-muted mt-2">
                                    @Html.DisplayFor(model => model.ApplicantPosition.PositionName)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" style="margin-left:10px">
                                    Employment Start Date:
                                </label>
                                <div class="col-md-2 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.EmploymentStartDate)</span>
                                </div>
                                <label class="col-md-2 col-form-label" style="margin-left:10px">
                                    End Date:
                                </label>
                                <div class="col-md-3 text-muted mt-2">
                                    <span id="">   @Html.DisplayFor(model => model.EmploymentEndDate)</span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" style="margin-left:10px">
                                    Exit Type:
                                </label>
                                <div class="col-md-2 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.ApplicantExitType.ExitTypeName)</span>
                                </div>
                                <label class="col-md-2 col-form-label" style="margin-left:10px">
                                    Exit Reason:
                                </label>
                                <div class="col-md-4 text-muted mt-2">
                                    <span id="">   @Html.DisplayFor(model => model.ExitReason)</span>
                                </div>
                            </div>

                        </div>
                    </div>         
                    
                </div>
                <div class="submit-section mt-1">
                    <button id="btnDeleteApplicantEmployment" class="btn btn-danger submit-btn">Delete</button>
                    <button id="btnCancel" class="btn btn-danger submit-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnDeleteApplicantEmployment").click(function () {
            var id = $("#ApplicantEmploymentDeleteId").val();
            deleteApplicantEmployment(id);
        })

    } );
</script>

