@model TimeAide.Web.Models.Certification
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal"  style="padding:10px">
    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_CreatePageTitleView")
    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.CertificationName, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.EditorFor(model => model.CertificationName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CertificationName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.CertificationTypeId, "Credential Type", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @(Html.CustomDropDownList<TimeAide.Web.Models.CertificationType>("CertificationTypeId", null, Model.CertificationTypeId, htmlAttributes: new { @class = "form-control" }))
            @Html.ValidationMessageFor(model => model.CertificationTypeId, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.Partial("_CreatePageFooterView")
</div>
}

