@model TimeAide.Web.Models.EmployeeGroup

<div style="padding:10px;padding-bottom:0px">
    @Html.Partial("_CreatePageTitleView")
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGroupName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGroupDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGroupDescription)
        </dd>

    </dl>
</div>
<p>
    <button type="submit" class="btn btn-primary submit-btn" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</p>
