@model TimeAide.Web.Models.EmployeeGroup
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="padding:10px">
    @Html.Partial("_CreatePageTitleView")
    @Html.HiddenFor(model => model.Id)

    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.EmployeeGroupName, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-7">
            @Html.EditorFor(model => model.EmployeeGroupName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmployeeGroupName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.EmployeeGroupDescription, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-7">
            @Html.EditorFor(model => model.EmployeeGroupDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmployeeGroupDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.EmployeeGroupTypeId, "Group Types", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-7">
            @(Html.CustomDropDownList<TimeAide.Web.Models.EmployeeGroupType>("EmployeeGroupTypeId", null, Model.EmployeeGroupTypeId, htmlAttributes: new { @class = "form-control" }))
            @Html.ValidationMessageFor(model => model.EmployeeGroupTypeId, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.Partial("_CreatePageFooterView")
</div>
}

