@model IEnumerable<TimeAide.Web.Models.Ethnicity>

@Html.Partial("_IndexPageHeaderView")
<thead>
    <tr>
        <th>
            Ethnicity
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EthnicityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EthnicityDescription)
            </td>
            <td>
                @Html.Partial("_IndexPageButtonsView", item)
            </td>
        </tr>
    }
</tbody>
@Html.Partial("_IndexPageFooterView")
