@model TimeAide.Models.ViewModel.TimesheetEditorPunchDataViewModel
@{

    var selectedTSDId = ViewBag.selectedId;
}
<style>
 
    .ui-timepicker-container {
        z-index: 3500 !important;
    }

    .child-modal-punch {
        z-index: 1200;
    }

    .default-width {
        min-width: 100px;
    }
</style>

<div id="timesheetEditPunch_modal" class="modal custom-modal child-modal-punch">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content" style="border:1px solid">

            <div class="modal-header">
                <h5 class="modal-title">Edit Punch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="welcome-box mb-2">
                            <div class="welcome-det">
                                <h4>@Html.DisplayFor(m => m.e_name)</h4>
                                <p><span class="">EmployeeId:</span>@Html.DisplayFor(m => m.e_id)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-0">
                        <div class="panel panel-default" style="margin-left:5px">
                            <div class="panel-heading" style="padding-left:10px">
                                Punch Date
                            </div>
                            <div class="panel-body">

                                <div id="divPunchDates">
                                    <div id="" style="max-height:150px; overflow-y:auto">
                                        <div class="table-responsive">
                                            <table class="table table-striped custom-table table-nowrap mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Date </th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>@Html.DisplayFor(m => m.DTPunchDate)</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="" class="col-md-9 pl-2">
                        <div class="row">
                            <div class="col-md-12 d-flex">
                                <div class="card profile-box flex-fill mb-0">
                                    <div class="card-body pt-1 pb-1">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row mb-1">
                                                    <label class="col-md-3 col-form-label pr-0">Overnight <span class="text-danger"></span></label>
                                                    <label class="col-md-6 col-form-label pl-0">Punch Time <span class="text-danger"></span></label>

                                                </div>
                                                <div class="form-group row mb-1">
                                                    <div class="col-md-1 offset-md-1">
                                                        <div class="">
                                                            @Html.CheckBoxFor(m => m.isOvernight)
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input class="form-control" type="text" id="PunchTime" value="@Model.DTPunchDateTime.ToString("hh:mm tt")" />
                                                    </div>
                                                </div>
                                                <div class="form-group row pt-2">
                                                    <label class="col-md-2 col-form-label">Note: <span class="text-danger"></span></label>
                                                    <div class="col-md-9 pl-0">
                                                        @Html.TextAreaFor(m => m.sNote, new {@class="form-control"})
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-section mt-2">
                    <div id="" class="align-content-md-start submit-in-processing" style="display:none;">
                        <img src="~/Content/Themes/assets/img/ajax-loading.gif" width="18" height="18" />
                    </div>
                    <button id="btnSavePunch" class="btn btn-primary submit-btn btn-sm">Submit</button>
                    <button id="btnCancel" class="btn btn-primary  submit-btn btn-sm" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {


        $('#PunchTime').timepicker({
            timeFormat: 'hh:mm p',
            interval: 60,
            //minTime: '10',
            //maxTime: '6:00pm',
            //defaultTime: '11',
            startTime: '08:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true,
            change: function () {
                debugger;
                //var id = $(this).attr("id");
                //var val = $(this).val();
                //setInitialPunchTime(id, val);
            }
        });
        $("#btnSavePunch").click(function () {
            debugger;
            var isRequiredValidated = 0;
            var isValidated = true;
            var message = "";
            var dataObj = new Object();
            dataObj.referenceId = '@selectedTSDId';
            dataObj.tpdID ='@Model.tpdID';
            dataObj.DTPunchDate = '@Model.DTPunchDate';
            dataObj.DTPunchDateTime = $('#PunchTime').val();
            dataObj.isOvernight = $('#isOvernight').is(":checked");
            dataObj.Note = $('#sNote').val();

            isRequiredValidated += dataObj.DTPunchDateTime.trim().length > 0 ? 1 : 0;

            if ( isRequiredValidated < 1) {
                isValidated = false;
                message = "Missing required Punch data.";
            }

            if (!isValidated) {
                showAlertAutoHide("", "Error", message);
                return;
            }
            disabledSubmitAction(true);
            $.ajax({
                type: "POST",
                url: '/EmployeeTimesheetEditor/AjaxSaveEditPunchData',
                data: JSON.stringify(dataObj),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    disabledSubmitAction(false);
                    if (data.status == "Success") {
                        showAlertAutoHide("", data.status, data.message);
                        $("#timesheetEditPunch_modal").modal("hide");
                        getEditPunchDateDetail('@selectedTSDId');
                    }
                    else {
                        showAlertAutoHide("", data.status, data.message);
                    }

                },
                error: function () {
                    disabledSubmitAction(false);
                }
            });
        });

    });





</script>





