@model TimeAide.Web.Models.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Reset your password.</h4>*@
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <h3 class="page-title">Change Password</h3>
            </div>
        </div>
    </div>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.Code)*@
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="from-group">
        <div id="divPasswordSpanish" class="alert-danger" style="font-size:70%">
            <span>Su contraseña debe contener lo siguiente:</span>
            <a href="#" onclick="ShowPasswordEnglish()">show in english</a>
            <ul data-header="">
                <li>Un mínimo de 6 caracteres. </li>
                <li>Al menos UNA letra mayúscula.</li>
                <li>Al menos UNA letra minúscula.</li>
                <li>Al menos UN número.</li>
                <li>Al menos UN caracter especial.</li>
            </ul>
        </div>
        <div id="divPasswordEnglish" class="alert-danger" style="font-size:70%">
            <span>Your password must contain:</span>
            <a href="#" onclick="ShowPasswordSpanish()">show in spanish</a>
            <ul data-header="">
                <li>At least 6 characters.</li>
                <li>At least ONE upper case letter.</li>
                <li>At least ONE lower case letter.</li>
                <li>At lease ONE number.</li>
                <li>At least ONE special character.</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align:center">
            <input id="resetpassword" type="submit" class="btn btn-primary submit-btn" value="Reset" />
        </div>
    </div>
}
<script>
    $('#OldPassword, #NewPassword').on('keyup', function () {

        if ($('#OldPassword').val() === $('#NewPassword').val()) {

            $('span[data-valmsg-for="NewPassword"]').text("New Password Can not be same as old one");
            $('input[id=resetpassword]').attr("disabled", "disabled");

        }
        else {
            $('span[data-valmsg-for="NewPassword"]').text("");
            $('input[id=resetpassword]').removeAttr("disabled", "disabled");

        }
            
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#divPasswordEnglish").hide();
        });
        function ShowPasswordEnglish() {
            $("#divPasswordEnglish").show();
            $("#divPasswordSpanish").hide();
        }
        function ShowPasswordSpanish() {
            $("#divPasswordEnglish").hide();
            $("#divPasswordSpanish").show();
        }

       

    </script>
}
