@model TimeAide.Web.Models.SetPasswordViewModel
<div class="form-horizontal" style="padding:10px;">
    <div class="alert alert-primary" style="text-align:center;background-color: #00c5fb;border: 1px solid #00c5fb;">
        <h4 style="display: inline;">Change Password</h4>
        <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<h4>Reset your password.</h4>*@
    @*@Html.HiddenFor(model => model.Code)*@
    <div class="form-group row">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Reason, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.TextAreaFor(model => model.Reason, 10, 50, new { style = "width:100% !important;", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="from-group">
        <div id="divPasswordSpanish" class="alert-danger" style="font-size:70%">
            <span>Su contraseña debe contener lo siguiente:</span>
            <a href="#" onclick="ShowPasswordEnglish()">show in english</a>
            <ul data-header="">
                <li>Un mínimo de 6 caracteres. </li>
                <li>Al menos UNA letra mayúscula.</li>
                <li>Al menos UNA letra minúscula.</li>
                <li>Al menos UN número.</li>
                <li>Al menos UN caracter especial.</li>
            </ul>
        </div>
        <div id="divPasswordEnglish" class="alert-danger" style="font-size:70%">
            <span>Your password must contain:</span>
            <a href="#" onclick="ShowPasswordSpanish()">show in spanish</a>
            <ul data-header="">
                <li>At least 6 characters.</li>
                <li>At least ONE upper case letter.</li>
                <li>At least ONE lower case letter.</li>
                <li>At lease ONE number.</li>
                <li>At least ONE special character.</li>
            </ul>
        </div>
    </div>

    <div class="submit-section">
        <button type="button" onclick="fnChangePasswordByAdmin();" class="btn btn-primary submit-btn">Save</button>
        <button type="button" class="btn btn-primary submit-btn" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")


<style>
    #divDdlPopupdialog {
        /*width: 550px;
        max-width: 550px !important;*/
    }
</style>
<script>
    function fnChangePasswordByAdmin(id) {
        debugger;
        //var $buttonClicked = $(this);
        //var id = $buttonClicked.attr('data-id');
        var options = { "backdrop": "static", keyboard: true };
        var model = {
            UserInformationId: $('#UserContactInformationId__').val(),
            NewPassword: $('#NewPassword').val(),
            ConfirmPassword: $('#ConfirmPassword').val(),
            Reason: $('#Reason').val()
        }
        $.ajax({
            type: 'post',
            url: '/Account/ChangePasswordByAdmin',
            data: JSON.stringify(model),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (html) {
                debugger
                $('#divDdlPopup').modal('hide');
                toastr.success('Password changes successfully.', "Alert", { closeButton: true, positionClass: "toast-top-center", timeOut: 0, extendedTImeout: 0 });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                
                var responseText = jQuery.parseJSON(xhr.responseText)
                var errorObject = jQuery.parseJSON(responseText.errors)

                //errorObject[0].OriginalHireDate
                //"The Hire Date field is required."
                //var $ul = $('div.validation-summary-valid.text-danger > ul');
                //$ul.empty();

                $.each(errorObject, function (idx, errorMessage) {
                    //$ul.append('<li>' + errorMessage + '</li>');
                    //alert(idx);
                    //alert(errorMessage);
                    debugger
                    $('span[data-valmsg-for="' + errorMessage.Key + '"]').text(errorMessage.Message);
                });
            }
        });
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#divPasswordEnglish").hide();
    });
    function ShowPasswordEnglish() {
        $("#divPasswordEnglish").show();
        $("#divPasswordSpanish").hide();
    }
    function ShowPasswordSpanish() {
        $("#divPasswordEnglish").hide();
        $("#divPasswordSpanish").show();
    }
</script>