@model TimeAide.Web.Models.EmployeeAppraisalGoal

@{
    ViewBag.Label = "Appraisal Template Goal";
}
<div id="employeeAppraisalGoalDelete_modal" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            @Html.Partial("_DeleteViewHeader")

            <div class="modal-body pt-0">

                <div class="alert" style="display:none;" id="employeeAppraisalGoalDeleteAlert">
                    <a href="javascript:void(0)" class="close" id="alertDismiss">&times;</a>
                    <strong>Alert!</strong><span class="ml-1"></span>
                </div>
                @Html.HiddenFor(model => model.Id, new { id = "EmployeeAppraisalGoalDeleteId" })

                <div class="form-group row">
                    <div class="panel panel-default" style="width:100%;margin-left:10px">
                        <div class="panel-heading" style="padding-left:10px">Information</div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" style="margin-left:0px">
                                    Goal:
                                </label>
                                <div class="col-md-9 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.AppraisalGoal.GoalName)</span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" style="margin-left:0px">
                                    Rating:
                                </label>
                                <div class="col-md-5 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.GoalRatingName)</span>
                                </div>
                                <label class="col-md-2 col-form-label" style="margin-left:0px">
                                    Value:
                                </label>
                                <div class="col-md-3 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.GoalRatingValue)</span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" style="margin-left:0px">
                                    Comments:
                                </label>
                                <div class="col-md-9 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.ReviewerComments)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="submit-section mt-1">

                    <button id="btnDeleteEmployeeAppraisalGoal" class="btn btn-danger submit-btn">Delete</button>
                    <button id="btnCancel" class="btn btn-danger submit-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnDeleteEmployeeAppraisalGoal").click(function () {
            debugger;
            var id = $("#EmployeeAppraisalGoalDeleteId").val();
            deleteEmployeeAppraisalGoal(id);
        })

    });
</script>

