@model TimeAide.Web.Models.ActionType

<div style="padding:10px">
    @Html.Partial("_DeleteViewHeaderMaster")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionTypeName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActionTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionTypeDescription)
        </dd>

    </dl>

</div>
@Html.Partial("_DeleteViewFooter")