@model TimeAide.Web.Models.Credential
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal" style="padding:10px">
    @Html.Partial("_CreatePageTitleView")
    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.CredentialName, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.EditorFor(model => model.CredentialName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CredentialName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.CredentialDescription, "Description", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.EditorFor(model => model.CredentialDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CredentialDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.SelfServiceUpload, "Self-Service Upload", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.SelfServiceUpload, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.SelfServiceUpload, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.SelfServiceDisplay, "Self-Service Display", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.SelfServiceDisplay, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.SelfServiceDisplay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.NotificationScheduleId, "Notification Schedule", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @(Html.CustomDropDownList<TimeAide.Web.Models.NotificationSchedule>("NotificationScheduleId", null, htmlAttributes: new { @class = "form-control" }))
            @Html.ValidationMessageFor(model => model.NotificationScheduleId, "", new { @class = "text-danger" })

        </div>
    </div>
    @Html.Partial("_CreatePageFooterView")
</div>
}
